name: Build JsonPatch library

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
jobs:
  build:
    name: Build JsonPatch library
    runs-on: windows-latest
    steps:

    - name: '📄 Checkout'
      uses: actions/checkout@v3

    - name: 🛠️ Setup MSBuild
      uses: microsoft/setup-msbuild@v1

    - name: 🛠️ Setup NuGet
      uses: nuget/setup-nuget@v1
      with:
        nuget-api-key: ${{ secrets.NUGET_API_KEY }}
        nuget-version: '5.x'

    - name: 🍎 Restore NuGet packages
      run: nuget restore JsonPatch.sln

    - name: 🚀 Build .NET 4.8 JsonPatch.dll Tests
      run: msbuild /p:Configuration=Release /p:IncludeSymbols=true src/JsonPatch.Tests/JsonPatch.Tests.csproj

    - name: 👟 Run .NET 4.8 JsonPatch.dll Tests
      uses: microsoft/vstest-action@v1.0.0
      with:
        testAssembly: JsonPatch.Tests.dll
        searchFolder: src/JsonPatch.Tests/bin/Release
        runInParallel: true

    - name: 🚀 Build .NET 4.8 JsonPatch.dll
      run: msbuild /p:Configuration=Release /p:IncludeSymbols=true src/JsonPatch/JsonPatch.csproj

    - name: 🚀 Build .NET 6 JsonPatchCore.dll
      run: dotnet build src/JsonPatchCore/JsonPatchCore.csproj --configuration Release
